@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

#header {    
    background-color: #ffffff;
    height: 150px;
    line-height: 150px;
    margin: 0;
    padding: 0 0 0 70px;
    box-shadow: 10px 0px 10px grey;
    position: sticky;
    top: 0px;
}

#header-title {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    display: block;
    float: left;
}

#header-nav {
    padding-left: 0px;
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px;
    float: right;
}

#header a {
    color: #000;
    text-decoration: none;
}

#footer {
    background-color: #000;
    color: #ffffff;
    padding: 5px 0 80px 70px;
    position: relative;
}

#content {
    padding-left: 100px;
    clear: both;
}

#mypart, #myservices, #zusammenarbeit {
    margin: 10px 0 75px 0;
}
#myservices {
    margin: 75px 0 75px 0;
}

img {
    height: 20px;
    width: 20px;
}

.left, .middle, .right {
    display: inline-block;
    width: 25%;
}

#email {
    margin-top: 15px;
}

#contact-form {
    margin: 10px 0 50px 0;
}

#message {
    height: 50px;
    width: 300px;
}