@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    min-height: 100vh;
}

#header {    
    background-color: #ffffff;
    height: 120px;
    margin: 0;
    padding: 0 0 0 25px;
    box-shadow: 0 0 10px grey;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#header-title {
    margin-top: 45px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    float: left;
}

#header-nav {
    padding-left: 0px;
    margin: 45px 50px 0 0;
    font-weight: bold;
    font-size: 20px;
    float: right;
}

#header a {
    color: #000;
    text-decoration: none;
}

#footer {
    background-color: #000;
    color: #ffffff;
    padding: 20px 10px 20px 50px;
    width: 100%;
    flex-shrink: none;
}

/* Footer for desktop */
@media only screen and (min-width: 768px) {
    .container {
        margin-left: 0;
    }
    .col {
        padding-left: auto;
    }
}

#content {
    padding: 0 30px 0 50px;    
    clear: both;
    margin: 50px 0 50px 0;
    flex: 1 0 auto;
    line-height: 1.5;
}

#mypart, #myservices, #zusammenarbeit {
    margin: 10px 0 75px 0;
}

h2 {
    padding-bottom: 15px;
}
img {
    height: 20px;
    width: 20px;
}

.phone, .impressum, .email {
    margin-top: 10px;
}

.impressum a {
    color: #aaa;
}

#contact-form {
    margin: 40px 0 50px 0;
}

#message {
    height: 50px;
    width: 100%;
}

button {
    background-color: #ffffff;
    border: 1px solid grey;
    padding: 8px;
    border-radius: 12px;
}

.text-muted {
    display: none;
}

.container, .container-fluid {
    padding-left: 0;
}