@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    min-height: 100vh;
}

#header {    
    background-color: #ffffff;
    height: 120px;
    margin: 0;
    padding: 0 0 0 70px;
    box-shadow: 10px 0px 10px grey;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#header-title {
    margin-top: 45px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    float: left;
}

#header-nav {
    padding-left: 0px;
    margin: 45px 50px 0 0;
    font-weight: bold;
    font-size: 20px;
    float: right;
}

#header a {
    color: #000;
    text-decoration: none;
}

#footer {
    background-color: #000;
    color: #ffffff;
    padding: 20px 0 20px 70px;
    width: 100%;
    flex-shrink: none;
}

#content {
    padding-left: 100px;
    clear: both;
    margin: 50px 0 50px 0;
    flex: 1 0 auto;
}

#mypart, #myservices, #zusammenarbeit {
    margin: 10px 0 75px 0;
}
#myservices {
    margin: 75px 0 75px 0;
}

img {
    height: 20px;
    width: 20px;
}

.left, .middle, .right {
    display: inline-block;
    width: 33%;
}

.phone {
    margin-top: 25px;
}

.impressum {
    margin-top: 10px;
}

.impressum a {
    color: #ffffff;
    opacity: 0.4;
}

.email {
    margin-top: 10px;
}

#contact-form {
    margin: 40px 0 50px 0;
}

#message {
    height: 50px;
    width: 100%;
}

button {
    background-color: #ffffff;
    border: 1px solid grey;
    padding: 8px;
    border-radius: 12px;
}