@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
}

header {    
    background-color: #ffffff;
    height: 120px;
    box-shadow: 0 0 10px grey;
    position: sticky;
    top: 0px;
    z-index: 10;
    display: flex;
    justify-content: space-around;
}

h1 {
    margin-top: 45px;
    font-size: 30px;
    font-weight: bold;
}

nav {
    margin-top: 45px;
    font-weight: bold;
    font-size: 20px;
    ;
}

header a, header a:hover {
    color: #000;
    text-decoration: none;
}

footer {
    background-color: #000;
    color: #ffffff;
    padding: 20px 0 20px 0;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    z-index: 10;
}

/* Footer for desktop */
@media only screen and (min-width: 768px) {
    .footer-container {
        max-width: 1000px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

#wrapper {
    max-width: 1000px;
    margin: auto;
    padding: 50px 30px 50px 50px;
    flex: 1 0 auto;
    line-height: 1.75;
}

section {
    margin: 10px 0 75px 0;
}

h2 {
    padding-bottom: 15px;
}
img {
    height: 20px;
    width: 20px;
}

.impressum a, .phone a, .email a {
    color: #aaa;
}

.linkedin {
    padding-left: 5px;
    padding-left: 5px;
}

#contact-form {
    margin: 40px 0 50px 0;
}

#message {
    height: 50px;
    width: 100%;
}

button {
    background-color: #ffffff;
    border: 1px solid grey;
    padding: 8px;
    border-radius: 12px;
}

.text-muted {
    display: none;
}

.container, .container-fluid {
    padding-left: 0;
}